<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhy.fund.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.zhy.fund.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="user_nm" property="userNm" jdbcType="VARCHAR" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="product_nm" property="productNm" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="act_amount" property="actAmount" jdbcType="DOUBLE" />
    <result column="buy_time" property="buyTime" jdbcType="VARCHAR" />
    <result column="sell_time" property="sellTime" jdbcType="DATE" />
    <result column="income" property="income" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_nm, user_tel, product_nm, amount, cost, act_amount, buy_time, sell_time, 
    income
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhy.fund.entity.Order" >
    insert into order (order_id, user_nm, user_tel, 
      product_nm, amount, cost, 
      act_amount, buy_time, sell_time, 
      income)
    values (#{orderId,jdbcType=INTEGER}, #{userNm,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR}, 
      #{productNm,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{cost,jdbcType=DOUBLE}, 
      #{actAmount,jdbcType=DOUBLE}, #{buyTime,jdbcType=VARCHAR}, #{sellTime,jdbcType=DATE},
      #{income,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.zhy.fund.entity.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userNm != null" >
        user_nm,
      </if>
      <if test="userTel != null" >
        user_tel,
      </if>
      <if test="productNm != null" >
        product_nm,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="actAmount != null" >
        act_amount,
      </if>
      <if test="buyTime != null" >
        buy_time,
      </if>
      <if test="sellTime != null" >
        sell_time,
      </if>
      <if test="income != null" >
        income,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userNm != null" >
        #{userNm,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="productNm != null" >
        #{productNm,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="actAmount != null" >
        #{actAmount,jdbcType=DOUBLE},
      </if>
      <if test="buyTime != null" >
        #{buyTime,jdbcType=VARCHAR},
      </if>
      <if test="sellTime != null" >
        #{sellTime,jdbcType=DATE},
      </if>
      <if test="income != null" >
        #{income,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhy.fund.entity.Order" >
    update order
    <set >
      <if test="userNm != null" >
        user_nm = #{userNm,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="productNm != null" >
        product_nm = #{productNm,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="actAmount != null" >
        act_amount = #{actAmount,jdbcType=DOUBLE},
      </if>
      <if test="buyTime != null" >
        buy_time = #{buyTime,jdbcType=VARCHAR},
      </if>
      <if test="sellTime != null" >
        sell_time = #{sellTime,jdbcType=DATE},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=DOUBLE},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhy.fund.entity.Order" >
    update order
    set user_nm = #{userNm,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      product_nm = #{productNm,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      cost = #{cost,jdbcType=DOUBLE},
      act_amount = #{actAmount,jdbcType=DOUBLE},
      buy_time = #{buyTime,jdbcType=VARCHAR},
      sell_time = #{sellTime,jdbcType=DATE},
      income = #{income,jdbcType=DOUBLE}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>

  <insert id="insertOrder" parameterType="com.zhy.fund.entity.Order" >
    insert into `order` (user_nm, user_tel,product_nm, amount,act_amount, buy_time)
    values ( #{userNm,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR},
      #{productNm,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE},
      #{actAmount,jdbcType=DOUBLE}, #{buyTime,jdbcType=VARCHAR})
  </insert>
</mapper>