<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Equity</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.marquee.min.js"></script>
	<!-- //js -->
	<link href="http://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
	</script>
	<!-- start-smoth-scrolling -->
</head>

<body>
   <div th:fragment="common-header">
	<div class="header">
		<div class="w3ls_header_top">
			<div class="container">
				<div class="w3l_header_left">
					<ul class="w3layouts_header">
						<!--<div id="dislogin">-->
							<li class="w3layouts_header_list">
									<a th:href="@{http://localhost:8100/web(name=adlogin)}" class="dropdown-toggle">管理员登陆</a>
							</li>
							<li class="w3layouts_header_list">
								<a href="#" data-toggle="modal" data-target="#myModal">登陆注册</a>
							</li>
						<!--</div>-->
						<li class="w3layouts_header_list">
							<a th:href="@{http://localhost:8100/web(name=risk)}">测一测</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a th:href="@{http://localhost:8100/web(name=contact)}">联系我们</a>
						</li>
					</ul>
				</div>
				<div class="w3l_header_right">
					<h2><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>000-1234567890</h2>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="w3ls_header_middle">
			<div class="container">
				<div class="agileits_logo">
					<h1><a th:href="@{http://localhost:8100/web(name=index)}"><span>Trade</span> Market<i>随时随地玩转投资界</i></a></h1>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="trade_navigation">
		<div class="container">
			<nav class="navbar nav_bottom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<nav class="wthree_nav">
						<ul class="nav navbar-nav nav_1">
							<li class="act"><a th:href="@{http://localhost:8100/web(name=index)}">首页</a></li>
							<li><a th:href="@{http://localhost:8100/web(name=equity)}">产品中心</a></li>
							<li><a th:href="@{http://localhost:8100/web(name=new)}">新闻资讯</a></li>
							<li><a th:href="@{http://localhost:8100/web(name=about)}">关于我们</a></li>
							<li><a th:href="@{http://localhost:8100/web(name=account)}">我的账户</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">服务中心<span class="caret"></span></a>
								<div class="dropdown-menu w3ls_vegetables_menu">
									<ul>
										<li><a th:href="@{http://localhost:8100/web(name=risk)}">风险测评</a></li>
										<li><a th:href="@{http://localhost:8100/web(name=managers)}">十大经理人</a></li>
									</ul>
								</div>
							</li>
							<li><a th:href="@{http://localhost:8100/web(name=service)}">投诉与建议</a></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
   </div>
<!-- //navigation -->

</body>
</html>