<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Equity</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.marquee.min.js"></script>
	<!-- //js -->
	<link href="http://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
	</script>
	<!-- start-smoth-scrolling -->
</head>

<body>
<div th:include="common :: common-header"></div>

<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="panel panel-default agile_panel">
		<div class="panel-body agile_panel_body">
			<ul class="demo1">
				<li class="news-item">
					<table class="w3_table_trade">
						<tr>
							<td class="w3_agileits_td demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">NIFTY 50</td>
									</tr>
									<tr>
										<td>8,638.23<i><span class="caret"></span>-8.35(-0.10%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">SILVER</td>
									</tr>
									<tr>
										<td>46,343.56<i><span class="caret"></span>-186.00(-0.40%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;">Dollar-Rupee</td>
									</tr>
									<tr>
										<td>66.8650<i class="wthree_i"><span class="caret caret1"></span>0.00(0.00%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">CRUDEOIL</td>
									</tr>
									<tr>
										<td>3,097.00<i><span class="caret"></span>-7.00(-0.23%)</i></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="news-item">
					<table class="w3_table_trade">
						<tr>
							<td class="w3_agileits_td demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">gold</td>
									</tr>
									<tr>
										<td>31,350.23<i><span class="caret"></span>-117.00(-0.37%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">ftsc</td>
									</tr>
									<tr>
										<td>6.887.93<i><span class="caret"></span>-5.99(-0.09%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">cac</td>
									</tr>
									<tr>
										<td>4,436.70<i><span class="caret"></span>-23.00(0.54%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">dax</td>
									</tr>
									<tr>
										<td>10,596.00<i><span class="caret"></span>-79.89(-0.75%)</i></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
				<li class="news-item">
					<table class="w3_table_trade">
						<tr>
							<td class="w3_agileits_td demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">sensex</td>
									</tr>
									<tr>
										<td>2,7993.64<i><span class="caret"></span>-66.59(-0.24%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">nhai</td>
									</tr>
									<tr>
										<td>1,256.00<i style="color:#00AA00"><span class="caret caret1"></span>16.20(1.31%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;">Euro-Rupee</td>
									</tr>
									<tr>
										<td>75.42<i class="wthree_i"><span class="caret caret1"></span>0.03(0.04%)</i></td>
									</tr>
								</table>
							</td>
							<td class="demo1_w3_table_trade">
								<table class="agileits_w3layouts_table">
									<tr>
										<td style="color:#01A9CE;text-transform:uppercase;">iifl</td>
									</tr>
									<tr>
										<td>1,006.51<i><span class="caret"></span>-1.25(-0.12%)</i></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		<div class="panel-footer"> </div>
	</div>
	<script type="text/javascript">
        $(function () {
            $(".demo1").bootstrapNews({
                newsPerPage: 1,
                autoplay: true,
                pauseOnHover:true,
                direction: 'up',
                newsTickerInterval: 3000,
                onToDo: function () {
                    //console.log(this);
                }
            });

            $(".demo2").bootstrapNews({
                newsPerPage: 3,
                autoplay: true,
                pauseOnHover: true,
                navigation: false,
                direction: 'up',
                newsTickerInterval: 2500,
                onToDo: function () {
                    //console.log(this);
                }
            });
        });
	</script>
	<script src="js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
	<div class='agileinfo_marquee'>
		<div data-speed="10" class="marquee">
			<ul>
				<li><a href="single.html">NPAs of associate banks to weigh on SBI: Religare Capital<span>\</span></a></li>
				<li><a href="single.html">Julius Baer analyst sees opportunities in despised China market</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- //banner-bottom -->
<!-- equity -->
<div class="equity">
	<div class="container">
		<div class="col-md-6 w3_equity_market_analysis">
			<div class="w3_equity_market_analysis_grid">
				<h3><i class="fa fa-external-link"></i>股票型</h3>
				<div class="w3_equity_market_analysis_grid_sub">
					<h4>Volume Toppers</h4>
					<div class="w3_agileits_gain_list">
						<table class="w3_agile_all_trade w3_agile_all_trade_funds w3_table_trade">
							<tr id="api_list">
								<th class="w3_agileits_head"><b>名称</b></th>
								<td class="w3_agileits_head1"><b>基金代码</b></td>
								<td class="w3_agileits_head1"><b>净值</b></td>
								<td class="w3_agileits_head1"><b>最新净值</b></td>
								<td class="w3_agileits_head1"><b>日增长率</b></td>
								<td class="w3_agileits_head1"><b>日增长量</b></td>
								<td class="w3_agileits_head1"></td>
							</tr>
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html"> </a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">(in Rs.)</td>-->
								<!--<td class="agileits_w3layouts_td">(in Rs.)</td>-->
								<!--<td class="agileits_w3layouts_td">(in Rs.)</td>-->
								<!--<td class="agileits_w3layouts_td">('000s)</td>-->
								<!--<td class="agileits_w3layouts_td">(%chg.)</td>-->
								<!--<td class="agileits_w3layouts_td"></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">RBL Bank</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">305.50</td>-->
								<!--<td class="agileits_w3layouts_td">274.20</td>-->
								<!--<td class="agileits_w3layouts_td">225.20</td>-->
								<!--<td class="agileits_w3layouts_td">300.05</td>-->
								<!--<td class="agileits_w3layouts_td">66132.83</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">JP Associate</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">11.90</td>-->
								<!--<td class="agileits_w3layouts_td">11.25</td>-->
								<!--<td class="agileits_w3layouts_td">11.25</td>-->
								<!--<td class="agileits_w3layouts_td">11.70</td>-->
								<!--<td class="agileits_w3layouts_td">27937.45</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">Welspun India</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">48.95</td>-->
								<!--<td class="agileits_w3layouts_td">46.80</td>-->
								<!--<td class="agileits_w3layouts_td">46.65</td>-->
								<!--<td class="agileits_w3layouts_td">48.30</td>-->
								<!--<td class="agileits_w3layouts_td">24421.51</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">Reliance Comm.</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">55.35</td>-->
								<!--<td class="agileits_w3layouts_td">53.45</td>-->
								<!--<td class="agileits_w3layouts_td">53.75</td>-->
								<!--<td class="agileits_w3layouts_td">54.80</td>-->
								<!--<td class="agileits_w3layouts_td">14585.16</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">HCC</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">24.80</td>-->
								<!--<td class="agileits_w3layouts_td">24.00</td>-->
								<!--<td class="agileits_w3layouts_td">22.95</td>-->
								<!--<td class="agileits_w3layouts_td">24.70</td>-->
								<!--<td class="agileits_w3layouts_td">12974.14</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">Unitech</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">5.35</td>-->
								<!--<td class="agileits_w3layouts_td">5.15</td>-->
								<!--<td class="agileits_w3layouts_td">5.20</td>-->
								<!--<td class="agileits_w3layouts_td">5.30</td>-->
								<!--<td class="agileits_w3layouts_td">9292.73</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">Unitech</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">5.35</td>-->
								<!--<td class="agileits_w3layouts_td">5.15</td>-->
								<!--<td class="agileits_w3layouts_td">5.20</td>-->
								<!--<td class="agileits_w3layouts_td">5.30</td>-->
								<!--<td class="agileits_w3layouts_td">9292.73</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">Unitech</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">5.35</td>-->
								<!--<td class="agileits_w3layouts_td">5.15</td>-->
								<!--<td class="agileits_w3layouts_td">5.20</td>-->
								<!--<td class="agileits_w3layouts_td">5.30</td>-->
								<!--<td class="agileits_w3layouts_td">9292.73</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">Unitech</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">5.35</td>-->
								<!--<td class="agileits_w3layouts_td">5.15</td>-->
								<!--<td class="agileits_w3layouts_td">5.20</td>-->
								<!--<td class="agileits_w3layouts_td">5.30</td>-->
								<!--<td class="agileits_w3layouts_td">9292.73</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<th class="w3_agile_th">-->
									<!--<a href="single.html">Unitech</a>-->
								<!--</th>-->
								<!--<td class="agileits_w3layouts_td">5.35</td>-->
								<!--<td class="agileits_w3layouts_td">5.15</td>-->
								<!--<td class="agileits_w3layouts_td">5.20</td>-->
								<!--<td class="agileits_w3layouts_td">5.30</td>-->
								<!--<td class="agileits_w3layouts_td">9292.73</td>-->
								<!--<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>-->
							<!--</tr>-->
						</table>
						<div style="padding-top:10px;font-size:13px;"><a href="single.html" style="color:#337ab7;">More »</a></div>
					</div>
				</div><br /><br />
				<h3><i class="fa fa-external-link"></i>债券型</h3>
				<div class="w3_equity_market_analysis_grid_sub">
					<h4>Volume Toppers</h4>
					<div class="w3_agileits_gain_list">
						<table class="w3_agile_all_trade w3_agile_all_trade_funds w3_table_trade">
							<tr id="api_list2">
								<th class="w3_agileits_head"><b>名称</b></th>
								<td class="w3_agileits_head1"><b>基金代码</b></td>
								<td class="w3_agileits_head1"><b>净值</b></td>
								<td class="w3_agileits_head1"><b>最新净值</b></td>
								<td class="w3_agileits_head1"><b>日增长率</b></td>
								<td class="w3_agileits_head1"><b>日增长量</b></td>
								<td class="w3_agileits_head1"></td>
							</tr>
							<!--<tr>
								<th class="w3_agile_th">
									<a href="single.html"> </a>
								</th>
								<td class="agileits_w3layouts_td">(in Rs.)</td>
								<td class="agileits_w3layouts_td">(in Rs.)</td>
								<td class="agileits_w3layouts_td">(in Rs.)</td>
								<td class="agileits_w3layouts_td">('000s)</td>
								<td class="agileits_w3layouts_td">(%chg.)</td>
								<td class="agileits_w3layouts_td"></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">RBL Bank</a>
								</th>
								<td class="agileits_w3layouts_td">305.50</td>
								<td class="agileits_w3layouts_td">274.20</td>
								<td class="agileits_w3layouts_td">225.20</td>
								<td class="agileits_w3layouts_td">300.05</td>
								<td class="agileits_w3layouts_td">66132.83</td>
								<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">JP Associate</a>
								</th>
								<td class="agileits_w3layouts_td">11.90</td>
								<td class="agileits_w3layouts_td">11.25</td>
								<td class="agileits_w3layouts_td">11.25</td>
								<td class="agileits_w3layouts_td">11.70</td>
								<td class="agileits_w3layouts_td">27937.45</td>
								<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">Welspun India</a>
								</th>
								<td class="agileits_w3layouts_td">48.95</td>
								<td class="agileits_w3layouts_td">46.80</td>
								<td class="agileits_w3layouts_td">46.65</td>
								<td class="agileits_w3layouts_td">48.30</td>
								<td class="agileits_w3layouts_td">24421.51</td>
								<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">Reliance Comm.</a>
								</th>
								<td class="agileits_w3layouts_td">55.35</td>
								<td class="agileits_w3layouts_td">53.45</td>
								<td class="agileits_w3layouts_td">53.75</td>
								<td class="agileits_w3layouts_td">54.80</td>
								<td class="agileits_w3layouts_td">14585.16</td>
								<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">HCC</a>
								</th>
								<td class="agileits_w3layouts_td">24.80</td>
								<td class="agileits_w3layouts_td">24.00</td>
								<td class="agileits_w3layouts_td">22.95</td>
								<td class="agileits_w3layouts_td">24.70</td>
								<td class="agileits_w3layouts_td">12974.14</td>
								<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">Unitech</a>
								</th>
								<td class="agileits_w3layouts_td">5.35</td>
								<td class="agileits_w3layouts_td">5.15</td>
								<td class="agileits_w3layouts_td">5.20</td>
								<td class="agileits_w3layouts_td">5.30</td>
								<td class="agileits_w3layouts_td">9292.73</td>
								<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">Unitech</a>
								</th>
								<td class="agileits_w3layouts_td">5.35</td>
								<td class="agileits_w3layouts_td">5.15</td>
								<td class="agileits_w3layouts_td">5.20</td>
								<td class="agileits_w3layouts_td">5.30</td>
								<td class="agileits_w3layouts_td">9292.73</td>
								<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">Unitech</a>
								</th>
								<td class="agileits_w3layouts_td">5.35</td>
								<td class="agileits_w3layouts_td">5.15</td>
								<td class="agileits_w3layouts_td">5.20</td>
								<td class="agileits_w3layouts_td">5.30</td>
								<td class="agileits_w3layouts_td">9292.73</td>
								<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">Unitech</a>
								</th>
								<td class="agileits_w3layouts_td">5.35</td>
								<td class="agileits_w3layouts_td">5.15</td>
								<td class="agileits_w3layouts_td">5.20</td>
								<td class="agileits_w3layouts_td">5.30</td>
								<td class="agileits_w3layouts_td">9292.73</td>
								<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
							</tr>
							<tr>
								<th class="w3_agile_th">
									<a href="single.html">Unitech</a>
								</th>
								<td class="agileits_w3layouts_td">5.35</td>
								<td class="agileits_w3layouts_td">5.15</td>
								<td class="agileits_w3layouts_td">5.20</td>
								<td class="agileits_w3layouts_td">5.30</td>
								<td class="agileits_w3layouts_td">9292.73</td>
								<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
							</tr>-->
						</table>
					</div>
				</div>
			</div>
			<div class="w3_equity_market_analysis_chart">
				<h3><i class="fa fa-ticket"></i>Technical Chart</h3>
				<div id='stacked-graph' class='graph'></div>
			</div>
		</div>
		<div class="col-md-6 w3_equity_market_analysis">
			<h3><i class="fa fa-sitemap"></i>封闭型</h3>
			<div class="w3_equity_market_analysis_grid_sub">
				<h4>Volume Toppers</h4>
				<div class="w3_agileits_gain_list">
					<table class="w3_agile_all_trade w3_agile_all_trade_funds w3_table_trade">
						<tr id="api_list3">
							<th class="w3_agileits_head"><b>名称</b></th>
							<td class="w3_agileits_head1"><b>基金代码</b></td>
							<td class="w3_agileits_head1"><b>净值</b></td>
							<td class="w3_agileits_head1"><b>最新净值</b></td>
							<td class="w3_agileits_head1"><b>日增长率</b></td>
							<td class="w3_agileits_head1"><b>日增长量</b></td>
							<td class="w3_agileits_head1"></td>
						</tr>
						<!--<tr>
							<th class="w3_agile_th">
								<a href="single.html"> </a>
							</th>
							<td class="agileits_w3layouts_td">(in Rs.)</td>
							<td class="agileits_w3layouts_td">(in Rs.)</td>
							<td class="agileits_w3layouts_td">(in Rs.)</td>
							<td class="agileits_w3layouts_td">('000s)</td>
							<td class="agileits_w3layouts_td">(%chg.)</td>
							<td class="agileits_w3layouts_td"></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">RBL Bank</a>
							</th>
							<td class="agileits_w3layouts_td">305.50</td>
							<td class="agileits_w3layouts_td">274.20</td>
							<td class="agileits_w3layouts_td">225.20</td>
							<td class="agileits_w3layouts_td">300.05</td>
							<td class="agileits_w3layouts_td">66132.83</td>
							<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">JP Associate</a>
							</th>
							<td class="agileits_w3layouts_td">11.90</td>
							<td class="agileits_w3layouts_td">11.25</td>
							<td class="agileits_w3layouts_td">11.25</td>
							<td class="agileits_w3layouts_td">11.70</td>
							<td class="agileits_w3layouts_td">27937.45</td>
							<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Welspun India</a>
							</th>
							<td class="agileits_w3layouts_td">48.95</td>
							<td class="agileits_w3layouts_td">46.80</td>
							<td class="agileits_w3layouts_td">46.65</td>
							<td class="agileits_w3layouts_td">48.30</td>
							<td class="agileits_w3layouts_td">24421.51</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Reliance Comm.</a>
							</th>
							<td class="agileits_w3layouts_td">55.35</td>
							<td class="agileits_w3layouts_td">53.45</td>
							<td class="agileits_w3layouts_td">53.75</td>
							<td class="agileits_w3layouts_td">54.80</td>
							<td class="agileits_w3layouts_td">14585.16</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">HCC</a>
							</th>
							<td class="agileits_w3layouts_td">24.80</td>
							<td class="agileits_w3layouts_td">24.00</td>
							<td class="agileits_w3layouts_td">22.95</td>
							<td class="agileits_w3layouts_td">24.70</td>
							<td class="agileits_w3layouts_td">12974.14</td>
							<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>-->
					</table>
				</div>
			</div>	<br /><br />
			<h3><i class="fa fa-external-link"></i>LOF型</h3>
			<div class="w3_equity_market_analysis_grid_sub">
				<h4>Volume Toppers</h4>
				<div class="w3_agileits_gain_list">
					<table class="w3_agile_all_trade w3_agile_all_trade_funds w3_table_trade">
						<tr id="api_list4">
							<th class="w3_agileits_head"><b>名称</b></th>
							<td class="w3_agileits_head1"><b>基金代码</b></td>
							<td class="w3_agileits_head1"><b>净值</b></td>
							<td class="w3_agileits_head1"><b>最新净值</b></td>
							<td class="w3_agileits_head1"><b>日增长率</b></td>
							<td class="w3_agileits_head1"><b>日增长量</b></td>
							<td class="w3_agileits_head1"></td>
						</tr>
						<!--<tr>
							<th class="w3_agile_th">
								<a href="single.html"> </a>
							</th>
							<td class="agileits_w3layouts_td">(in Rs.)</td>
							<td class="agileits_w3layouts_td">(in Rs.)</td>
							<td class="agileits_w3layouts_td">(in Rs.)</td>
							<td class="agileits_w3layouts_td">('000s)</td>
							<td class="agileits_w3layouts_td">(%chg.)</td>
							<td class="agileits_w3layouts_td"></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">RBL Bank</a>
							</th>
							<td class="agileits_w3layouts_td">305.50</td>
							<td class="agileits_w3layouts_td">274.20</td>
							<td class="agileits_w3layouts_td">225.20</td>
							<td class="agileits_w3layouts_td">300.05</td>
							<td class="agileits_w3layouts_td">66132.83</td>
							<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">JP Associate</a>
							</th>
							<td class="agileits_w3layouts_td">11.90</td>
							<td class="agileits_w3layouts_td">11.25</td>
							<td class="agileits_w3layouts_td">11.25</td>
							<td class="agileits_w3layouts_td">11.70</td>
							<td class="agileits_w3layouts_td">27937.45</td>
							<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Welspun India</a>
							</th>
							<td class="agileits_w3layouts_td">48.95</td>
							<td class="agileits_w3layouts_td">46.80</td>
							<td class="agileits_w3layouts_td">46.65</td>
							<td class="agileits_w3layouts_td">48.30</td>
							<td class="agileits_w3layouts_td">24421.51</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Reliance Comm.</a>
							</th>
							<td class="agileits_w3layouts_td">55.35</td>
							<td class="agileits_w3layouts_td">53.45</td>
							<td class="agileits_w3layouts_td">53.75</td>
							<td class="agileits_w3layouts_td">54.80</td>
							<td class="agileits_w3layouts_td">14585.16</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">HCC</a>
							</th>
							<td class="agileits_w3layouts_td">24.80</td>
							<td class="agileits_w3layouts_td">24.00</td>
							<td class="agileits_w3layouts_td">22.95</td>
							<td class="agileits_w3layouts_td">24.70</td>
							<td class="agileits_w3layouts_td">12974.14</td>
							<td class="agileits_w3layouts_td" style="color:#337ab7;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>
						<tr>
							<th class="w3_agile_th">
								<a href="single.html">Unitech</a>
							</th>
							<td class="agileits_w3layouts_td">5.35</td>
							<td class="agileits_w3layouts_td">5.15</td>
							<td class="agileits_w3layouts_td">5.20</td>
							<td class="agileits_w3layouts_td">5.30</td>
							<td class="agileits_w3layouts_td">9292.73</td>
							<td class="agileits_w3layouts_td" style="color:#FF0000;"><a href="#">点击购买</a></td>
						</tr>-->
					</table>
					<div style="padding-top:10px;font-size:13px;"><a href="single.html" style="color:#337ab7;">More »</a></div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //equity -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<ul class="agileits_w3layouts_footer_info">
			<li><a href="index.html">Home</a><i>|</i></li>
			<li><a href="news.html">Markets</a><i>|</i></li>
			<li><a href="funds.html">mutual funds</a><i>|</i></li>
			<li><a href="new.html">commodities</a><i>|</i></li>
			<li><a href="portfolio.html">portfolio</a><i>|</i></li>
			<li><a href="about.html">About Us</a><i>|</i></li>
			<li><a href="ipo.html">IPO</a><i>|</i></li>
			<li><a href="sitemap.html">sitemap</a></li>
		</ul>
		<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</div>
</div>
<!-- //footer -->
<!-- stacked-graph -->
<script type="text/javascript" src="js/raphael.js"></script>
<script type="text/javascript" src="js/jquery.enumerable.js"></script>
<script type="text/javascript" src="js/jquery.tufte-graph.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        jQuery('#stacked-graph').tufteBar({
            data: [
                [[1.5, 1.0, 0.51], {label: '2013'}],
                [[2.0, 1.03, 0.6], {label: '2014'}],
                [[2.4, 0.9,  2.0], {label: '2015'}],
                [[1.5, 2.6, 0.45], {label: '2016'}]
            ],
            barLabel:  function(index) {
                amount = ($(this[0]).sum() * 10000).toFixed(0);
                return '$' + $.tufteBar.formatNumber(amount);
            },
            axisLabel: function(index) { return this[1].label },
            legend: {
                data: ["Finance", "Metal", "Telecom"]
            }
        });
    });
</script>
<!-- //stacked-graph -->
<!-- script for marque -->
<script>
    $('.marquee').marquee({
        gap: 100,
        delayBeforeStart: 0,
        direction: 'left',
        duplicated: true,
        pauseOnHover: true
    });
</script>

<!-- //script for marque -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        function isIn(o) {
            var n = 0;
            for (var i in o) {
                n++;
            }
            return n;
        }
        $().UItoTop({ easingType: 'easeOutQuart' });

        $.ajax({
            type: 'get',
            url: 'api_GuPiao',
            dataType: 'json',
            success: function (result) {
                console.log(result)
                var num = isIn(result[0]);
                for (var i = 1; i <= 10; i++) {
                    $("#api_list").after("<tr><th>" + (result[0])[i].name + "</th>"
                        +"<td>"+(result[0])[i].code+"</td>"
                        +"<td>"+(result[0])[i].totalnet+"</td>"
                        +"<td>"+(result[0])[i].newnet+"</td>"
                        +"<td>"+(result[0])[i].daygrowrate+"</td>"
                        +"<td>"+(result[0])[i].dayincrease+"</td><td class=\"agileits_w3layouts_td\" style=\"color:#FF0000;\">" +
						"<a href='psingle?name="+(result[0])[i].name+"&totalnet="+(result[0])[i].totalnet+"&code="+(result[0])[i].code+"&newnet="+(result[0])[i].newnet+"&daygrowrate="+(result[0])[i].daygrowrate+"&dayincrease="+(result[0])[i].dayincrease+"'>点击购买</a></td></tr>"
                    );
                }
            }
        })
    });
</script>
<!-- //here ends scrolling icon -->

<script type="text/javascript">
    $(document).ready(function() {

        function isIn(o) {
            var n = 0;
            for (var i in o) {
                n++;
            }
            return n;
        }
        $.ajax({
            type: 'get',
            url: 'api_ZhaiQuan',
            dataType: 'json',
            success: function (result) {
                console.log(result)
                var num = isIn(result[0]);
                for (var i = 1; i <= 10; i++) {
                    $("#api_list2").after("<tr><th>" + (result[0])[i].name + "</th>"
                        +"<td>"+(result[0])[i].code+"</td>"
                        +"<td>"+(result[0])[i].totalnet+"</td>"
                        +"<td>"+(result[0])[i].newnet+"</td>"
                        +"<td>"+(result[0])[i].daygrowrate+"</td>"
                        +"<td>"+(result[0])[i].dayincrease+"</td><td class=\"agileits_w3layouts_td\" style=\"color:#FF0000;\">" +
                        "<a href='psingle?name="+(result[0])[i].name+"&totalnet="+(result[0])[i].totalnet+"&code="+(result[0])[i].code+"&newnet="+(result[0])[i].newnet+"&daygrowrate="+(result[0])[i].daygrowrate+"&dayincrease="+(result[0])[i].dayincrease+"'>点击购买</a></td></tr>"
                    );
                }
            }
        })
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {

        function isIn(o) {
            var n = 0;
            for (var i in o) {
                n++;
            }
            return n;
        }
        $.ajax({
            type: 'get',
            url: 'api_Close',
            dataType: 'json',
            success: function (result) {
                console.log(result)
                var num = isIn(result[0]);
                for (var i = 1; i <= 10; i++) {
                    $("#api_list3").after("<tr><th>" + (result[0])[i].name + "</th>"
                        +"<td>"+(result[0])[i].code+"</td>"
                        +"<td>"+(result[0])[i].totalnet+"</td>"
                        +"<td>"+(result[0])[i].newnet+"</td>"
                        +"<td>"+(result[0])[i].daygrowrate+"</td>"
                        +"<td>"+(result[0])[i].dayincrease+"</td><td class=\"agileits_w3layouts_td\" style=\"color:#FF0000;\">" +
                        "<a href='psingle?name="+(result[0])[i].name+"&totalnet="+(result[0])[i].totalnet+"&code="+(result[0])[i].code+"&newnet="+(result[0])[i].newnet+"&daygrowrate="+(result[0])[i].daygrowrate+"&dayincrease="+(result[0])[i].dayincrease+"'>点击购买</a></td></tr>"
                    );
                }
            }
        })
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {

        function isIn(o) {
            var n = 0;
            for (var i in o) {
                n++;
            }
            return n;
        }
        $.ajax({
            type: 'get',
            url: 'api_Lof',
            dataType: 'json',
            success: function (result) {
                console.log(result)
                var num = isIn(result[0]);
                for (var i = 1; i <= 10; i++) {
                    $("#api_list4").after("<tr><th>" + (result[0])[i].name + "</th>"
                        +"<td>"+(result[0])[i].code+"</td>"
                        +"<td>"+(result[0])[i].totalnet+"</td>"
                        +"<td>"+(result[0])[i].newnet+"</td>"
                        +"<td>"+(result[0])[i].daygrowrate+"</td>"
                        +"<td>"+(result[0])[i].dayincrease+"</td><td class=\"agileits_w3layouts_td\" style=\"color:#FF0000;\">" +
                        "<a href='psingle?name="+(result[0])[i].name+"&totalnet="+(result[0])[i].totalnet+"&code="+(result[0])[i].code+"&newnet="+(result[0])[i].newnet+"&daygrowrate="+(result[0])[i].daygrowrate+"&dayincrease="+(result[0])[i].dayincrease+"'>点击购买</a></td></tr>"
                    );
                }
            }
        })
    });
</script>
</body>
</html>