<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Icons</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery.marquee.min.js"></script>
<!-- //js -->
<link href="http://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="w3ls_header_top">
			<div class="container">
				<div class="w3l_header_left">
					<ul class="w3layouts_header">
						<li class="w3layouts_header_list">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">首页<span class="caret"></span></a>	
								</li>
								<li>
									<i>|</i>
								</li>
							</ul>
						</li>
						<li class="w3layouts_header_list">
							<a href="login.html">登陆注册</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="faq.html">测一测</a><i>|</i>
						</li>
						<li class="w3layouts_header_list">
							<a href="contact.html">联系我们</a>
						</li>
					</ul>
				</div>
				<div class="w3l_header_right">
					<h2><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>000-1234567890</h2>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="w3ls_header_middle">
			<div class="container">
				<div class="agileits_logo">
					<h1><a href="index.html"><span>Trade</span> Market<i>随时随地玩转投资界</i></a></h1>
				</div>
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="text" placeholder="Search" required="">
						<select id="agileinfo_search" name="agileinfo_search">
							<option value="commodities">Commodities</option>
							<option value="navs">NAVs</option>
							<option value="quotes">Quotes</option>
							<option value="videos">Videos</option>
							<option value="news">News</option>
							<option value="notices">Notices</option>
							<option value="all">All</option>
						</select>
						<input type="submit" value="搜索">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="trade_navigation">
		<div class="container">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs" >
					<nav class="wthree_nav">
						<ul class="nav navbar-nav nav_1">
							<li class="act"><a href="index.html">首页</a></li>
							<li><a href="equity.html">产品中心</a></li>
							<li><a href="commodities.html">新闻资讯</a></li>
							<li><a href="about.html">关于我们</a></li>
							<li><a href="products.html">我的账户</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">服务中心<span class="caret"></span></a>				
								<div class="dropdown-menu w3ls_vegetables_menu">
									<ul>	
										<li><a href="icons.html">风险测评</a></li>
										<li><a href="managers.html">十大经理人</a></li>
									</ul>             
								</div>
							</li>
							<li><a href="service.html">投诉与建议</a></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
<!-- //navigation -->
<!-- icons -->
	<div class="w3_wthree_agileits_icons main-grid-border w3l_trade_icons">
		<div class="container">
			<div class="grid_3 grid_4 w3_agileits_icons_page">
				<div class="panel panel-warning" style="position: relative;">
					<div class="panel-heading" align="center">
					    开始您的测评...
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content111111111111111111111111111111111</p>
					    <input type="radio" name="answer" checked="checked"/>是
					    <input type="radio" name="answer"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer2" checked="checked"/>是
					    <input type="radio" name="answer2"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer3" checked="checked"/>是
					    <input type="radio" name="answer3"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer4" checked="checked"/>是
					    <input type="radio" name="answer4"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer5" checked="checked"/>是
					    <input type="radio" name="answer5"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer6" checked="checked"/>是
					    <input type="radio" name="answer6"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer7" checked="checked"/>是
					    <input type="radio" name="answer7"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer8" checked="checked"/>是
					    <input type="radio" name="answer8"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer9" checked="checked"/>是
					    <input type="radio" name="answer9"/>否
					</div>
					<div class="panel-body" align="center">
					    <p>Panel content</p>
					    <input type="radio" name="answer10" checked="checked"/>是
					    <input type="radio" name="answer10"/>否
					</div>
					<div class="btn-risk">
						<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" 
							data-content="您是一位愿意承担高风险以追求高收益的投资者，建议您在投资中可以重点关注股票型基金!!!">提交</a>
					</div>
				</div>
				<div class="alert alert-warning alert-dismissible" role="alert" style="" style="position: absolute; display:none; top: 0;width: 300px; height: 200px;">
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <strong style="font-size: x-large;">激进型</strong><br /><br />
	                <span style="font-size: large;">您是一位愿意承担高风险以追求高收益的投资者，建议您在投资中可以重点关注股票型基金!!!</span>
                </div>
			</div>
		</div>	
	</div>
<!-- //icons -->
<script type="text/javascript">
2 $(function() {
3     $(".btn-risk-01").onclick(function() {
4         $(this).text($(".alert alert-warning alert-dismissible");
5         $(".btn-risk-01").toggle();
6     });
7 });
8</script>

<!-- script for marque -->
	<script>
	  $('.marquee').marquee({
		gap: 100,
		delayBeforeStart: 0,
		direction: 'left',
		duplicated: true,
		pauseOnHover: true
	});
	</script>
	
<!-- //script for marque -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>