<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>risk</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery.marquee.min.js"></script>
<!-- //js -->
<link href="http://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
</head>
	
<body>
<div th:include="common :: common-header"></div>
<div class="faq">
	<div class="container" align="center">
		<h3 class="typo_w3_agile_head">FAQ</h3>
			<table class="w3l_faq_grid">
				<tr><h4 th:each="">1. Maecenas consequat libero eu eleifend placerat ?</h4></tr>
				<tr><input type="radio" name="answer" checked="checked"/>是
				<input type="radio" name="answer"/>否</tr>
			</table>
	</div>
</div>
<!-- //faq -->

<!-- stacked-graph -->
<script type="text/javascript" src="js/raphael.js"></script>
<script type="text/javascript" src="js/jquery.enumerable.js"></script>
<script type="text/javascript" src="js/jquery.tufte-graph.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        jQuery('#stacked-graph').tufteBar({
            data: [
                [[1.5, 1.0, 0.51], {label: '2013'}],
                [[2.0, 1.03, 0.6], {label: '2014'}],
                [[2.4, 0.9,  2.0], {label: '2015'}],
                [[1.5, 2.6, 0.45], {label: '2016'}]
            ],
            barLabel:  function(index) {
                amount = ($(this[0]).sum() * 10000).toFixed(0);
                return '$' + $.tufteBar.formatNumber(amount);
            },
            axisLabel: function(index) { return this[1].label },
            legend: {
                data: ["Finance", "Metal", "Telecom"]
            }
        });
    });
</script>
<!-- //stacked-graph -->
<!-- script for marque -->
<script>
    $('.marquee').marquee({
        gap: 100,
        delayBeforeStart: 0,
        direction: 'left',
        duplicated: true,
        pauseOnHover: true
    });
</script>

<!-- //script for marque -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>